/*@import "~bootstrap/dist/css/bootstrap.min.css";*/

body {
  text-align: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
